# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
.idea
*.iml

# gradle
output
build
.gradle

# other
eclipse
run
*.exe
local.properties
classes/
gource.sh
mcmodsrepo/

# enderIO's recipes XML Schema
src/main/resources/assets/metallurgy/recipes/enderio_recipes_schema.xsd